@import "tailwindcss";

.dark {
--Header: hsl(209, 23%, 22%);
--Main: hsl(207, 26%, 17%);
--: #111517;
--Input: hsl(0, 0%, 99%);
--Title: hsl(0, 0%, 99%);
--Heading: hsl(0, 100%, 100%);
}

.light {
--Title: hsl(209, 23%, 22%);
--Main-bg: hsl(207, 26%, 17%);
--Heading: hsl(200, 15%, 8%);
--Input: hsl(0, 0%, 50%);
--Main: hsl(0, 0%, 99%);
--Header: hsl(0, 100%, 100%);
}